<h1>EDIT Task</h1>

<%= form_with model: @task do |task| %>
<div class="form-group">
    <%= task.label :title %>
    <%= task.text_field :title, placeholder: "title", class: 'form-control' %>
    <%= task.label :details %>
    <%= task.text_field :details, placeholder: "details", class: 'form-control' %>
    <%= task.submit class: 'btn btn-primary' %>
</div>
<% end %>
<p><%= link_to "Tasks", tasks_path %></p>
